PODCAST_INDEX_KEY=
PODCAST_INDEX_SECRET=

MINIO_USER=
MINIO_PASS=

POSTGRES_USER=
POSTGRES_PASS=
POSTGRES_URL= postgresql://processor:yourpassword@localhost:5432/audio_lens

# Backend
BACKEND_PORT=:8080
MINIO_ENDPOINT=minio:9000
CORS_ORIGINS=http://localhost:3000
